body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app {
  background-color: aquamarine;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.buttonWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 200px;
}

.buttonBox {
  border: 1px black solid;
  border-radius: 5px;
  height: 40px;
  width: 40px;
}

.buttonBox:hover {
  background-color: yellow;
}

.display {
  background-color: gray;
  border: 1px solid black;
  border-radius: 5px;
}